<!--<p class="text-center" *ngFor="let item of userList$ | async">-->
  <!--{{item.id}} &#45;&#45; {{item.name}}-->
<!--</p>-->

<button (click)="onShow()">Show</button>

<app-base-dialog [(ngModel)]="dialogReplaceRemoteCtrl" position="middle" name="visible" dialogTitle="这是标题">
  <ng-container class="dialog-body">
    <div>
      <button class="full-width"
        (click)="dialogReplaceRemoteCtrl=false">使用这个
      </button>
    </div>
  </ng-container>
  <ng-container class="dialog-footer">
    <button>取消</button>
    <button>确定</button>
  </ng-container>
</app-base-dialog>
